@import "tailwindcss";

html {
  scroll-behavior: smooth;
}
.testimonialSwiper {
  padding-bottom: 60px;
}

.testimonialSwiper .swiper-pagination {
  bottom: 0 !important;
}

.testimonialSwiper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #d1d5db;
  opacity: 1;
}

.testimonialSwiper .swiper-pagination-bullet-active {
  background: #2563eb;
}